.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.newsItem {
    flex-basis: 27%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.onePx {
    border: 1px solid black;
  }
  
.threePx {
    border: 3px solid black;
  }
  
.fivePx {
    border: 5px solid black;
  }