.scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.score {
  flex-basis: 27%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.xsmall {
  font-size: x-small;
}

.small {
  font-size: small;
}

.large {
  font-size: large;
}

.xlarge {
  font-size: x-large;
}
